<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--ID's dos Classificadores-->
    <add key="RAIZ" value="1" />
    <add key="MENU" value="3" />
    <!--Homepage-->
    <add key="BANNERS" value="4" />
    <add key="DESTAQUES1" value="14" />
    <add key="DESTAQUES2" value="15" />
    <add key="DESTAQUES3" value="16" />
    <add key="DESTAQUES4" value="17" />
    <add key="DESTAQUES5" value="27" />
    <add key="DESTAQUES6" value="28" />
    <add key="NOTICIAS" value="23" />
    <add key="NOTICIASRECENTES" value="29" />
    <add key="FOOTER" value="18" />
    <add key="CONTACTO" value="25" />
    <add key="PROJECTOS" value="24" />
    <add key="MISSOES" value="22" />
    <add key="GRUPOSCORAIS" value="31" />
<add key="SITESRELACIONADOS" value="36" />
    <add key="BANNERS2" value="37" />
    <add key="BANNERS3" value="38" />

    <add key="" value="" />

    <!--Servidores de Mail-->
    <add key="SMTP" value="mail.pibluanda.com"/>
    <add key="POP3" value="mail.pibluanda.com"/>
    <!--Endereços de mail-->
    <add key="EMAIL_FROM_CONTACTO" value="info@pibluanda.com"/>
    <add key="EMAIL_TO_CONTACTO" value="info@pibluanda.com"/>
    <add key="PWD_CONTACTO" value="pibluanda2018"/>
  </appSettings>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=DESKTOP-5H9OT11;Initial Catalog=CMSCK_PIB;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>